{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "description": "ARM Databricks",
        "title": "DatabricksClient",
        "version": "2018-04-01",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/databricks/resource-manager/Microsoft.Databricks/stable/2018-04-01/databricks.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "databricks",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/providers/Microsoft.Databricks/operations": {
            "get": {
                "description": "Lists all of the available RP operations.",
                "operationId": "Operations_List",
                "parameters": [
                    {
                        "description": "The API version to use for this operation.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Result of the request to list Resource Provider operations. It contains a list of operations and a URL link to get the next set of results.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "URL to get the next set of operation list results if there are any.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "List of Resource Provider operations supported by the Resource Provider resource provider.",
                                            "items": {
                                                "description": "REST API operation",
                                                "properties": {
                                                    "display": {
                                                        "description": "The object that represents the operation.",
                                                        "properties": {
                                                            "operation": {
                                                                "description": "Operation type: Read, write, delete, etc.",
                                                                "type": "string"
                                                            },
                                                            "provider": {
                                                                "description": "Service provider: Microsoft.ResourceProvider",
                                                                "type": "string"
                                                            },
                                                            "resource": {
                                                                "description": "Resource on which the operation is performed.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "name": {
                                                        "description": "Operation name: {provider}/{resource}/{operation}",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Resource Provider error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Contains details when the response code indicates an error.",
                                    "properties": {
                                        "error": {
                                            "description": "The error details.",
                                            "properties": {
                                                "code": {
                                                    "description": "A machine readable error code.",
                                                    "type": "string"
                                                },
                                                "details": {
                                                    "description": "error details.",
                                                    "items": {
                                                        "properties": {
                                                            "code": {
                                                                "description": "The error's code.",
                                                                "type": "string"
                                                            },
                                                            "message": {
                                                                "description": "A human readable error message.",
                                                                "type": "string"
                                                            },
                                                            "target": {
                                                                "description": "Indicates which property in the request is responsible for the error.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "code",
                                                            "message"
                                                        ],
                                                        "title": "Error details.",
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "innererror": {
                                                    "description": "Inner error details if they exist.",
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "description": "A human readable error message.",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "code",
                                                "message"
                                            ],
                                            "title": "The code and message for an error.",
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ],
                                    "title": "Error response.",
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Operations"
                ],
                "x-ms-examples": {
                    "Operations": {
                        "parameters": {
                            "api-version": "2018-04-01"
                        },
                        "responses": {
                            "200": {
                                "body": [
                                    {
                                        "display": {
                                            "description": "Retrieves a list of workspaces.",
                                            "operation": "List Workspaces",
                                            "provider": "Microsoft Databricks",
                                            "resource": "Workspace"
                                        },
                                        "name": "Microsoft.Databricks/workspaces/read"
                                    },
                                    {
                                        "display": {
                                            "description": "Creates an workspace.",
                                            "operation": "Create Workspace",
                                            "provider": "Microsoft Databricks",
                                            "resource": "Workspace"
                                        },
                                        "name": "Microsoft.Databricks/workspaces/write"
                                    },
                                    {
                                        "display": {
                                            "description": "Removes an workspace.",
                                            "operation": "Remove Workspace",
                                            "provider": "Microsoft Databricks",
                                            "resource": "Workspace"
                                        },
                                        "name": "Microsoft.Databricks/workspaces/delete"
                                    }
                                ]
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Databricks/workspaces": {
            "get": {
                "description": "Gets all the workspaces within a subscription.",
                "operationId": "Workspaces_ListBySubscription",
                "parameters": [
                    {
                        "description": "The API version to use for this operation.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID of the target subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK - Returns an array of workspaces.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "List of workspaces.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "The URL to use for getting the next set of results.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "The array of workspaces.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "allOf": [
                                                            {
                                                                "description": "The core properties of ARM resources",
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "description": "The name of the resource",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "description": "The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "x-ms-azure-resource": true,
                                                                "type": "object"
                                                            }
                                                        ],
                                                        "description": "The resource model definition for a ARM tracked top level resource",
                                                        "properties": {
                                                            "location": {
                                                                "description": "The geo-location where the resource lives",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "read",
                                                                    "create"
                                                                ]
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "Resource tags.",
                                                                "type": "object",
                                                                "x-ms-mutability": [
                                                                    "read",
                                                                    "create",
                                                                    "update"
                                                                ]
                                                            }
                                                        },
                                                        "required": [
                                                            "location"
                                                        ],
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "Information about workspace.",
                                                "properties": {
                                                    "properties": {
                                                        "description": "The workspace properties.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "authorizations": {
                                                                "description": "The workspace provider authorizations.",
                                                                "items": {
                                                                    "description": "The workspace provider authorization.",
                                                                    "properties": {
                                                                        "principalId": {
                                                                            "description": "The provider's principal identifier. This is the identity that the provider will use to call ARM to manage the workspace resources.",
                                                                            "format": "uuid",
                                                                            "type": "string"
                                                                        },
                                                                        "roleDefinitionId": {
                                                                            "description": "The provider's role definition identifier. This role will define all the permissions that the provider must have on the workspace's container resource group. This role definition cannot have permission to delete the resource group.",
                                                                            "format": "uuid",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "principalId",
                                                                        "roleDefinitionId"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "managedResourceGroupId": {
                                                                "description": "The managed resource group Id.",
                                                                "type": "string"
                                                            },
                                                            "parameters": {
                                                                "description": "Name and value pairs that define the workspace parameters.",
                                                                "type": "object"
                                                            },
                                                            "provisioningState": {
                                                                "description": "The workspace provisioning state.",
                                                                "readOnly": true,
                                                                "enum": [
                                                                    "Accepted",
                                                                    "Running",
                                                                    "Ready",
                                                                    "Creating",
                                                                    "Created",
                                                                    "Deleting",
                                                                    "Deleted",
                                                                    "Canceled",
                                                                    "Failed",
                                                                    "Succeeded",
                                                                    "Updating"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "ProvisioningState"
                                                                }
                                                            },
                                                            "uiDefinitionUri": {
                                                                "description": "The blob URI where the UI definition file is located.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "managedResourceGroupId"
                                                        ]
                                                    },
                                                    "sku": {
                                                        "description": "The SKU of the resource.",
                                                        "properties": {
                                                            "name": {
                                                                "description": "The SKU name.",
                                                                "type": "string"
                                                            },
                                                            "tier": {
                                                                "description": "The SKU tier.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "name"
                                                        ],
                                                        "type": "object"
                                                    }
                                                },
                                                "required": [
                                                    "properties"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Contains details when the response code indicates an error.",
                                    "properties": {
                                        "error": {
                                            "description": "The error details.",
                                            "properties": {
                                                "code": {
                                                    "description": "A machine readable error code.",
                                                    "type": "string"
                                                },
                                                "details": {
                                                    "description": "error details.",
                                                    "items": {
                                                        "properties": {
                                                            "code": {
                                                                "description": "The error's code.",
                                                                "type": "string"
                                                            },
                                                            "message": {
                                                                "description": "A human readable error message.",
                                                                "type": "string"
                                                            },
                                                            "target": {
                                                                "description": "Indicates which property in the request is responsible for the error.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "code",
                                                            "message"
                                                        ],
                                                        "title": "Error details.",
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "innererror": {
                                                    "description": "Inner error details if they exist.",
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "description": "A human readable error message.",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "code",
                                                "message"
                                            ],
                                            "title": "The code and message for an error.",
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ],
                                    "title": "Error response.",
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Workspaces"
                ],
                "x-ms-examples": {
                    "Lists workspaces": {
                        "parameters": {
                            "api-version": "2018-04-01",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Databricks/workspaces/myWorkspace1",
                                            "location": "East US 2",
                                            "name": "myWorkspace1",
                                            "properties": {
                                                "managedResourceGroupId": "/subscriptions/subid/resourceGroups/myManagedRG",
                                                "parameters": null,
                                                "provisioningState": "Created",
                                                "uiDefinitionUri": "https://path/to/workspaceCreateUiDefinition.json"
                                            },
                                            "sku": {
                                                "name": "skuName"
                                            },
                                            "tags": null,
                                            "type": "Microsoft.Databricks/workspaces"
                                        },
                                        {
                                            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Databricks/workspaces/myWorkspace2",
                                            "location": "East US 2",
                                            "name": "myWorkspace2",
                                            "properties": {
                                                "managedResourceGroupId": "/subscriptions/subid/resourceGroups/myManagedRG",
                                                "parameters": null,
                                                "provisioningState": "Created",
                                                "uiDefinitionUri": "https://path/to/workspaceCreateUiDefinition.json"
                                            },
                                            "sku": {
                                                "name": "skuName"
                                            },
                                            "tags": null,
                                            "type": "Microsoft.Databricks/workspaces"
                                        }
                                    ]
                                },
                                "headers": {}
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Databricks/workspaces": {
            "get": {
                "description": "Gets all the workspaces within a resource group.",
                "operationId": "Workspaces_ListByResourceGroup",
                "parameters": [
                    {
                        "description": "The name of the resource group. The name is case insensitive.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 90,
                            "pattern": "^[-\\w\\._\\(\\)]+$"
                        }
                    },
                    {
                        "description": "The API version to use for this operation.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID of the target subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK - Returns an array of workspaces.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "List of workspaces.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "The URL to use for getting the next set of results.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "The array of workspaces.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "allOf": [
                                                            {
                                                                "description": "The core properties of ARM resources",
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "description": "The name of the resource",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "description": "The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "x-ms-azure-resource": true,
                                                                "type": "object"
                                                            }
                                                        ],
                                                        "description": "The resource model definition for a ARM tracked top level resource",
                                                        "properties": {
                                                            "location": {
                                                                "description": "The geo-location where the resource lives",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "read",
                                                                    "create"
                                                                ]
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "Resource tags.",
                                                                "type": "object",
                                                                "x-ms-mutability": [
                                                                    "read",
                                                                    "create",
                                                                    "update"
                                                                ]
                                                            }
                                                        },
                                                        "required": [
                                                            "location"
                                                        ],
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "Information about workspace.",
                                                "properties": {
                                                    "properties": {
                                                        "description": "The workspace properties.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "authorizations": {
                                                                "description": "The workspace provider authorizations.",
                                                                "items": {
                                                                    "description": "The workspace provider authorization.",
                                                                    "properties": {
                                                                        "principalId": {
                                                                            "description": "The provider's principal identifier. This is the identity that the provider will use to call ARM to manage the workspace resources.",
                                                                            "format": "uuid",
                                                                            "type": "string"
                                                                        },
                                                                        "roleDefinitionId": {
                                                                            "description": "The provider's role definition identifier. This role will define all the permissions that the provider must have on the workspace's container resource group. This role definition cannot have permission to delete the resource group.",
                                                                            "format": "uuid",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "principalId",
                                                                        "roleDefinitionId"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "managedResourceGroupId": {
                                                                "description": "The managed resource group Id.",
                                                                "type": "string"
                                                            },
                                                            "parameters": {
                                                                "description": "Name and value pairs that define the workspace parameters.",
                                                                "type": "object"
                                                            },
                                                            "provisioningState": {
                                                                "description": "The workspace provisioning state.",
                                                                "readOnly": true,
                                                                "enum": [
                                                                    "Accepted",
                                                                    "Running",
                                                                    "Ready",
                                                                    "Creating",
                                                                    "Created",
                                                                    "Deleting",
                                                                    "Deleted",
                                                                    "Canceled",
                                                                    "Failed",
                                                                    "Succeeded",
                                                                    "Updating"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "ProvisioningState"
                                                                }
                                                            },
                                                            "uiDefinitionUri": {
                                                                "description": "The blob URI where the UI definition file is located.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "managedResourceGroupId"
                                                        ]
                                                    },
                                                    "sku": {
                                                        "description": "The SKU of the resource.",
                                                        "properties": {
                                                            "name": {
                                                                "description": "The SKU name.",
                                                                "type": "string"
                                                            },
                                                            "tier": {
                                                                "description": "The SKU tier.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "name"
                                                        ],
                                                        "type": "object"
                                                    }
                                                },
                                                "required": [
                                                    "properties"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Contains details when the response code indicates an error.",
                                    "properties": {
                                        "error": {
                                            "description": "The error details.",
                                            "properties": {
                                                "code": {
                                                    "description": "A machine readable error code.",
                                                    "type": "string"
                                                },
                                                "details": {
                                                    "description": "error details.",
                                                    "items": {
                                                        "properties": {
                                                            "code": {
                                                                "description": "The error's code.",
                                                                "type": "string"
                                                            },
                                                            "message": {
                                                                "description": "A human readable error message.",
                                                                "type": "string"
                                                            },
                                                            "target": {
                                                                "description": "Indicates which property in the request is responsible for the error.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "code",
                                                            "message"
                                                        ],
                                                        "title": "Error details.",
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "innererror": {
                                                    "description": "Inner error details if they exist.",
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "description": "A human readable error message.",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "code",
                                                "message"
                                            ],
                                            "title": "The code and message for an error.",
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ],
                                    "title": "Error response.",
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Workspaces"
                ],
                "x-ms-examples": {
                    "Lists workspaces": {
                        "parameters": {
                            "api-version": "2018-04-01",
                            "resourceGroupName": "rg",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Databricks/workspaces/myWorkspace1",
                                            "location": "East US 2",
                                            "name": "myWorkspace1",
                                            "properties": {
                                                "managedResourceGroupId": "/subscriptions/subid/resourceGroups/myManagedRG",
                                                "parameters": null,
                                                "provisioningState": "Created",
                                                "uiDefinitionUri": "https://path/to/workspaceCreateUiDefinition.json"
                                            },
                                            "sku": {
                                                "name": "skuName"
                                            },
                                            "tags": null,
                                            "type": "Microsoft.Databricks/workspaces"
                                        },
                                        {
                                            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Databricks/workspaces/myWorkspace2",
                                            "location": "East US 2",
                                            "name": "myWorkspace2",
                                            "properties": {
                                                "managedResourceGroupId": "/subscriptions/subid/resourceGroups/myManagedRG",
                                                "parameters": null,
                                                "provisioningState": "Created",
                                                "uiDefinitionUri": "https://path/to/workspaceCreateUiDefinition.json"
                                            },
                                            "sku": {
                                                "name": "skuName"
                                            },
                                            "tags": null,
                                            "type": "Microsoft.Databricks/workspaces"
                                        }
                                    ]
                                },
                                "headers": {}
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Databricks/workspaces/{workspaceName}": {
            "delete": {
                "description": "Deletes the workspace.",
                "operationId": "Workspaces_Delete",
                "parameters": [
                    {
                        "description": "The name of the resource group. The name is case insensitive.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 90,
                            "pattern": "^[-\\w\\._\\(\\)]+$"
                        }
                    },
                    {
                        "description": "The name of the workspace.",
                        "in": "path",
                        "name": "workspaceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 3,
                            "maxLength": 64
                        }
                    },
                    {
                        "description": "The API version to use for this operation.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID of the target subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Accepted - Returns this status until the asynchronous operation has completed."
                    },
                    "204": {
                        "description": "NoContent"
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Contains details when the response code indicates an error.",
                                    "properties": {
                                        "error": {
                                            "description": "The error details.",
                                            "properties": {
                                                "code": {
                                                    "description": "A machine readable error code.",
                                                    "type": "string"
                                                },
                                                "details": {
                                                    "description": "error details.",
                                                    "items": {
                                                        "properties": {
                                                            "code": {
                                                                "description": "The error's code.",
                                                                "type": "string"
                                                            },
                                                            "message": {
                                                                "description": "A human readable error message.",
                                                                "type": "string"
                                                            },
                                                            "target": {
                                                                "description": "Indicates which property in the request is responsible for the error.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "code",
                                                            "message"
                                                        ],
                                                        "title": "Error details.",
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "innererror": {
                                                    "description": "Inner error details if they exist.",
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "description": "A human readable error message.",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "code",
                                                "message"
                                            ],
                                            "title": "The code and message for an error.",
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ],
                                    "title": "Error response.",
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Workspaces"
                ],
                "x-ms-examples": {
                    "Delete a workspace": {
                        "parameters": {
                            "api-version": "2018-04-01",
                            "resourceGroupName": "rg",
                            "subscriptionId": "subid",
                            "workspaceName": "myWorkspace"
                        },
                        "responses": {
                            "202": {},
                            "204": {}
                        }
                    }
                },
                "x-ms-long-running-operation": true
            },
            "get": {
                "description": "Gets the workspace.",
                "operationId": "Workspaces_Get",
                "parameters": [
                    {
                        "description": "The name of the resource group. The name is case insensitive.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 90,
                            "pattern": "^[-\\w\\._\\(\\)]+$"
                        }
                    },
                    {
                        "description": "The name of the workspace.",
                        "in": "path",
                        "name": "workspaceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 3,
                            "maxLength": 64
                        }
                    },
                    {
                        "description": "The API version to use for this operation.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID of the target subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK - Returns the workspace.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "allOf": [
                                                {
                                                    "description": "The core properties of ARM resources",
                                                    "properties": {
                                                        "id": {
                                                            "description": "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "The name of the resource",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "description": "The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "x-ms-azure-resource": true,
                                                    "type": "object"
                                                }
                                            ],
                                            "description": "The resource model definition for a ARM tracked top level resource",
                                            "properties": {
                                                "location": {
                                                    "description": "The geo-location where the resource lives",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "read",
                                                        "create"
                                                    ]
                                                },
                                                "tags": {
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "description": "Resource tags.",
                                                    "type": "object",
                                                    "x-ms-mutability": [
                                                        "read",
                                                        "create",
                                                        "update"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "location"
                                            ],
                                            "type": "object"
                                        }
                                    ],
                                    "description": "Information about workspace.",
                                    "properties": {
                                        "properties": {
                                            "description": "The workspace properties.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "authorizations": {
                                                    "description": "The workspace provider authorizations.",
                                                    "items": {
                                                        "description": "The workspace provider authorization.",
                                                        "properties": {
                                                            "principalId": {
                                                                "description": "The provider's principal identifier. This is the identity that the provider will use to call ARM to manage the workspace resources.",
                                                                "format": "uuid",
                                                                "type": "string"
                                                            },
                                                            "roleDefinitionId": {
                                                                "description": "The provider's role definition identifier. This role will define all the permissions that the provider must have on the workspace's container resource group. This role definition cannot have permission to delete the resource group.",
                                                                "format": "uuid",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "principalId",
                                                            "roleDefinitionId"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "managedResourceGroupId": {
                                                    "description": "The managed resource group Id.",
                                                    "type": "string"
                                                },
                                                "parameters": {
                                                    "description": "Name and value pairs that define the workspace parameters.",
                                                    "type": "object"
                                                },
                                                "provisioningState": {
                                                    "description": "The workspace provisioning state.",
                                                    "readOnly": true,
                                                    "enum": [
                                                        "Accepted",
                                                        "Running",
                                                        "Ready",
                                                        "Creating",
                                                        "Created",
                                                        "Deleting",
                                                        "Deleted",
                                                        "Canceled",
                                                        "Failed",
                                                        "Succeeded",
                                                        "Updating"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "ProvisioningState"
                                                    }
                                                },
                                                "uiDefinitionUri": {
                                                    "description": "The blob URI where the UI definition file is located.",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "managedResourceGroupId"
                                            ]
                                        },
                                        "sku": {
                                            "description": "The SKU of the resource.",
                                            "properties": {
                                                "name": {
                                                    "description": "The SKU name.",
                                                    "type": "string"
                                                },
                                                "tier": {
                                                    "description": "The SKU tier.",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "name"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "properties"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Contains details when the response code indicates an error.",
                                    "properties": {
                                        "error": {
                                            "description": "The error details.",
                                            "properties": {
                                                "code": {
                                                    "description": "A machine readable error code.",
                                                    "type": "string"
                                                },
                                                "details": {
                                                    "description": "error details.",
                                                    "items": {
                                                        "properties": {
                                                            "code": {
                                                                "description": "The error's code.",
                                                                "type": "string"
                                                            },
                                                            "message": {
                                                                "description": "A human readable error message.",
                                                                "type": "string"
                                                            },
                                                            "target": {
                                                                "description": "Indicates which property in the request is responsible for the error.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "code",
                                                            "message"
                                                        ],
                                                        "title": "Error details.",
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "innererror": {
                                                    "description": "Inner error details if they exist.",
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "description": "A human readable error message.",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "code",
                                                "message"
                                            ],
                                            "title": "The code and message for an error.",
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ],
                                    "title": "Error response.",
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Workspaces"
                ],
                "x-ms-examples": {
                    "Get a workspace": {
                        "parameters": {
                            "api-version": "2018-04-01",
                            "resourceGroupName": "rg",
                            "subscriptionId": "subid",
                            "workspaceName": "myWorkspace"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Databricks/workspaces/myWorkspace",
                                    "location": "East US 2",
                                    "name": "myWorkspace",
                                    "properties": {
                                        "managedResourceGroupId": "/subscriptions/subid/resourceGroups/myManagedRG",
                                        "parameters": null,
                                        "provisioningState": "Created",
                                        "uiDefinitionUri": "https://path/to/workspaceCreateUiDefinition.json"
                                    },
                                    "type": "Microsoft.Databricks/workspaces"
                                },
                                "headers": {}
                            },
                            "404": {}
                        }
                    }
                }
            },
            "patch": {
                "description": "Updates a workspace.",
                "operationId": "Workspaces_Update",
                "parameters": [
                    {
                        "description": "The name of the resource group. The name is case insensitive.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 90,
                            "pattern": "^[-\\w\\._\\(\\)]+$"
                        }
                    },
                    {
                        "description": "The name of the workspace.",
                        "in": "path",
                        "name": "workspaceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 3,
                            "maxLength": 64
                        }
                    },
                    {
                        "description": "The API version to use for this operation.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID of the target subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully updated the workspace.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "allOf": [
                                                {
                                                    "description": "The core properties of ARM resources",
                                                    "properties": {
                                                        "id": {
                                                            "description": "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "The name of the resource",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "description": "The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "x-ms-azure-resource": true,
                                                    "type": "object"
                                                }
                                            ],
                                            "description": "The resource model definition for a ARM tracked top level resource",
                                            "properties": {
                                                "location": {
                                                    "description": "The geo-location where the resource lives",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "read",
                                                        "create"
                                                    ]
                                                },
                                                "tags": {
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "description": "Resource tags.",
                                                    "type": "object",
                                                    "x-ms-mutability": [
                                                        "read",
                                                        "create",
                                                        "update"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "location"
                                            ],
                                            "type": "object"
                                        }
                                    ],
                                    "description": "Information about workspace.",
                                    "properties": {
                                        "properties": {
                                            "description": "The workspace properties.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "authorizations": {
                                                    "description": "The workspace provider authorizations.",
                                                    "items": {
                                                        "description": "The workspace provider authorization.",
                                                        "properties": {
                                                            "principalId": {
                                                                "description": "The provider's principal identifier. This is the identity that the provider will use to call ARM to manage the workspace resources.",
                                                                "format": "uuid",
                                                                "type": "string"
                                                            },
                                                            "roleDefinitionId": {
                                                                "description": "The provider's role definition identifier. This role will define all the permissions that the provider must have on the workspace's container resource group. This role definition cannot have permission to delete the resource group.",
                                                                "format": "uuid",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "principalId",
                                                            "roleDefinitionId"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "managedResourceGroupId": {
                                                    "description": "The managed resource group Id.",
                                                    "type": "string"
                                                },
                                                "parameters": {
                                                    "description": "Name and value pairs that define the workspace parameters.",
                                                    "type": "object"
                                                },
                                                "provisioningState": {
                                                    "description": "The workspace provisioning state.",
                                                    "readOnly": true,
                                                    "enum": [
                                                        "Accepted",
                                                        "Running",
                                                        "Ready",
                                                        "Creating",
                                                        "Created",
                                                        "Deleting",
                                                        "Deleted",
                                                        "Canceled",
                                                        "Failed",
                                                        "Succeeded",
                                                        "Updating"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "ProvisioningState"
                                                    }
                                                },
                                                "uiDefinitionUri": {
                                                    "description": "The blob URI where the UI definition file is located.",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "managedResourceGroupId"
                                            ]
                                        },
                                        "sku": {
                                            "description": "The SKU of the resource.",
                                            "properties": {
                                                "name": {
                                                    "description": "The SKU name.",
                                                    "type": "string"
                                                },
                                                "tier": {
                                                    "description": "The SKU tier.",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "name"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "properties"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "Accepted"
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Contains details when the response code indicates an error.",
                                    "properties": {
                                        "error": {
                                            "description": "The error details.",
                                            "properties": {
                                                "code": {
                                                    "description": "A machine readable error code.",
                                                    "type": "string"
                                                },
                                                "details": {
                                                    "description": "error details.",
                                                    "items": {
                                                        "properties": {
                                                            "code": {
                                                                "description": "The error's code.",
                                                                "type": "string"
                                                            },
                                                            "message": {
                                                                "description": "A human readable error message.",
                                                                "type": "string"
                                                            },
                                                            "target": {
                                                                "description": "Indicates which property in the request is responsible for the error.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "code",
                                                            "message"
                                                        ],
                                                        "title": "Error details.",
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "innererror": {
                                                    "description": "Inner error details if they exist.",
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "description": "A human readable error message.",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "code",
                                                "message"
                                            ],
                                            "title": "The code and message for an error.",
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ],
                                    "title": "Error response.",
                                    "type": "object"
                                }
                            }
                        }
                    }
[...]
